.dance {
  background-image: url('../images/chance.png');
  height: 699px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  margin-top: -120px;
}
.exp {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 58px;

  text-align: center;

  color: #ffffff;
}
.exppd {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -245px;
}
.ynd {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;

  color: #ffffff;

  opacity: 0.5;
}
.all {
  width: 200px;
  height: 54px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
  border: none;
  background: #333333;
  border-radius: 10px;
}
.res {
  background-color: rgb(0, 0, 0);
  padding-top: 200px;
}
.uxx {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  color: #ffffff;
}

.fakse {
  background-image: url('../images/dearr.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  height: 360px;
}
.fakse2 {
  background-image: url('../images/nike.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  height: 360px;
}
.dem {
  background: linear-gradient(
    180deg,
    rgba(55, 55, 55, 0) 46.43%,
    #2f2f2f 98.33%
  );
  height: 360px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.call-me-out {
  padding-bottom: 40px;
}
.view {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  outline: none;
  border: none;
  color: #ffffff;
  width: 158px;
  height: 47px;
  background: #333333;
  border-radius: 10px;
}
.linkee {
  background-color: black;
  margin-top: -200px;
}
.desny {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  color: #ffffff;
}
.x-bill {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.textp {
  margin-top: 30px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  height: 34px;
  cursor: pointer;
  border-bottom: 5px solid #ff4703;
}
.allmfc {
  background-color: black;
  padding-top: 120px;
}
.anita-gift {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  text-align: center;
  color: #fdefde;
}
.ux-oo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14.4px;
  text-align: center;
  margin-bottom: 15px;
  color: #fdefde;
}
.durat {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12.6px;
  text-align: center;
  color: #ffffff;
}
.actss {
  border-bottom: 0.1px solid #ffffff;
}
.cpcp {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 70px;
    border-bottom: 0.1px solid #ffffff;
}
.corner {
  background-image: url('../images/course-card.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 683px;
}
.namee {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #fdefde;
}
.tittle {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  color: #ffffff;
}
.timee {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  opacity: 0.5;
}
.dyna {
  margin-top: 100px;
}
.priced {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  color: #ffffff;
}
.buy-now {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  width: 158.25px;
  height: 50px;
  outline: none;
  border: none;
  background: #ff4703;
  border-radius: 10px;
  margin-right: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  width: 213.65px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #2f2f2f00;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playna {
  color: #808080;
  font-size: 27px;
}
.coursed {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #ffffff;
}
.por-que {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.5;
  width: 80%;
}
.vibess {
  background: #100c0c;
  border-radius: 10px;
  padding-bottom: 22px;
}
.temper {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  align-items: center;
  width: 100%;
}
.nana {
  margin-right: 9px;
  color: white;
  font-size: 22px;
}
.wines {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
.boyo {
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ffffff;
}
.hmmm {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
    color: white !important;
    box-shadow: none !important;
}
.ouya {
  background-color: #000000 !important;
  color: white;
  opacity: 0.5;
  border-radius: 10px;
}
.introvid{
  font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #FFFFFF;
}
.shaws{
  padding-top: 120px;
  padding-bottom: 180px;
}
.wywl{
  
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #FFFFFF;
}
.reqq{
  font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
opacity: 0.5;
}
.kissone{
  width: 100%;
  height: 400px;
  display: flex;
  /* background-color: green; */
  justify-content: center;
}
.kissonee{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: blue; */
  width: 50%;
}
.backseat{
  display: flex;
  justify-content: flex-end;
  /* background-color: red; */
  margin-bottom: 19px;
  cursor: pointer;
  font-size: 25px;
  color: white;
}