.hfhfhfh{
    background-color: rgb(0, 0, 0);
    padding-top: 100px;
    padding-bottom: 70px;
}
.Settings{
    font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 32px;
color: #FFFFFF;
margin-top: 47px;
}
.upopo{
    display: flex;
    align-items: center;
}
.round-cheese{
background-color: rgb(255, 255, 255);
height: 70px;
width: 70px;
border-radius: 50%;
object-fit: cover;
margin-right: 30px;
}
.welcome{

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 23px;
color: #FFFFFF;
}
.pinfo{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 24px;
color: #FFFFFF;
margin-top: 43px;
}
.ph{
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #FFFFFF;
}
.alertd{
    background: #191919;
border-radius: 5px;
height: 60px;
width: 80%;
outline: none;
border: none;
padding-left: 20px;
color: white;
}
.fhfhfhfh{
    width: 165px;
height: 50px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
text-align: center;
color: #FFFFFF;
background: #FF4703;
border-radius: 5px;
outline: none;
border: none;
display: flex;
justify-content: center;
align-items: center;
}
@media screen and (max-width:991px){
.alertd{
    background: #191919;
border-radius: 5px;
height: 60px;
width: 100%;
outline: none;
border: none;
padding-left: 20px;
color: white;
}
}